@font-face {
    font-family: "RalewayRegular";
    src:
      url(https://github.com/MikeBeloborodov/ono-tebe-nado/raw/refs/heads/main/fonts/Raleway-Regular.woff2) format('woff2'),
      url(https://github.com/MikeBeloborodov/ono-tebe-nado/raw/refs/heads/main/fonts/Raleway-Regular.woff) format('woff');
    font-weight: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "RalewayBold";
    src:
      url(https://github.com/MikeBeloborodov/ono-tebe-nado/raw/refs/heads/main/fonts/Raleway-Bold.woff2) format('woff2'),
      url(https://github.com/MikeBeloborodov/ono-tebe-nado/raw/refs/heads/main/fonts/Raleway-Bold.woff) format('woff');
    font-weight: bold;
    font-display: swap;
  }